{% extends 'admin/master.html' %}

{% block head_css %}
{{ super() }}
<link href="{{ url_for('static', filename='login-styles.css') }}" rel="stylesheet" type="text/css">
{% endblock head_css %}

{% block body %}
{{ super() }}
<form action="" method="POST">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Register</h1>
            </div>
            <div class="login-form">
                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="username" name="username"
                           id="username">
                    <label class="login-field-icon fui-user" for="username"></label></div>
                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="email" name="email"
                           id="email">
                    <label class="login-field-icon fui-user" for="email"></label></div>
                <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="password" name="password"
                           id="password">
                    <label class="login-field-icon fui-lock" for="password"></label></div>

                {{ form.hidden_tag() if form.hidden_tag }}
                {% for f in form if f.type != 'CSRFTokenField' %}

                {% if f.errors %}
                <ul>
                    {% for e in f.errors %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endfor %}
                <input type="submit" value="Sign in" class="btn btn-primary btn-large btn-block">
                <br>
                {{ link | safe }}
            </div>

        </div>
    </div>
</form>
{% endblock body %}